body{
    background-color: whitesmoke !important;
    overflow-x:hidden !important;

}
button:hover{
    background-color: rgb(211, 208, 208);
}
header{
    width: 100%;
    padding: 0px 0px;
    display: block;
}

.left-site{
    background-color: whitesmoke;
<<<<<<< HEAD
    padding: 0px;
=======
<<<<<<< HEAD
    padding: 0px;
=======
<<<<<<< HEAD
    padding: 0px;
=======
    padding-top: 80px;
    overflow-x:hidden;

}

.middle-site{
    padding-top: 80px;

}

.right-site{
    background-color: rgb(221, 152, 152);
    padding-top: 80px;
    overflow-x:hidden;;
    padding-right: 0px;
>>>>>>> aea8e9bf8947a16584949aba7c2b270947d19973
>>>>>>> 72a96e9e0bd57c48d0a88f2e583c50e02eff4d4f
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
    overflow: auto;
    display: inline-block;
    
}

.middle-site{
    padding: 0px;
    background-color: whitesmoke;
    float:none;
    display: inline-block;

}

.right-site{
    padding: 0px;
    overflow-x:hidden !important;
<<<<<<< HEAD
    float: right;
    display: inline-block;
    background-color: whitesmoke;
=======
<<<<<<< HEAD
    float: right;
    display: inline-block;
    background-color: whitesmoke;
=======
<<<<<<< HEAD
    float: right;
    display: inline-block;
    background-color: whitesmoke;
=======

>>>>>>> aea8e9bf8947a16584949aba7c2b270947d19973
>>>>>>> 72a96e9e0bd57c48d0a88f2e583c50e02eff4d4f
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
}


.left-site-inside{
    margin: 15px 5px 35px 65px;
    background-color: whitesmoke ;
    padding: 0px;
    border: 0px;
    overflow:auto !important;  
    height: 570px;
}
.right-site-inside{
    margin: 15px 65px 35px 5px;
    background-color: whitesmoke ;
    padding: 0px;
    border: 0px;
    overflow:auto;  
    height: 570px;
    overflow-x:hidden
}
.middle-site-inside{
    margin: 15px 10px 35px 10px;
    background-color: white ;
    border-radius: 10px 10px 10px 10px;

}

.img{
    height: 170;
    width: 100%;
}

.img-inside{
    max-width:100%;
    max-height:100%;
    border-radius: 10px 10px 10px 10px;
}



.information{
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    
}
.icon-person{
    float:left;
    font-size: 2em;
}

.myInfor-btn{
    border: none;
    outline:none;
    background-color: inherit;
}
.LeNam{
    float: right;
    margin-left: 10px;
}
.name_user{
    color: black !important;
    font: 0.75em !important;
}

.Ten{
    text-align: left;
}

.btn-detail{
    height: 45px;
    width: 100%;
    border: none;
    outline:none;
    background-color: inherit;
    text-align: left;
}

.icon-detail{
    margin-left: 10px;
}

.text-detail-coin{
    margin-left: 20px;
    color : red;
    font-weight: bold;
}
.btn-detail:hover{
    background-color: rgb(211, 208, 208);
}
.text-detail{
    margin-left: 20px;
}

.Mty{
    height: 15px;
    width: 100%;
    background-color: whitesmoke;
}

.weather{
    height: 300px !important;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.weather-inside{
    margin: 10px 15px 10px 15px;

}

.brief{
    height: 70px;
    width: 100%;
}

.box-images{
    height: 100%;
    width: 70px;
    float: left;
}

.box-images-inside{
    height: 100%;
    width: 100%;
}


.text-brief{
    float: left;
    margin-top: 10px;;
}
.text-brief-hover:hover{
    background-color: rgba(201, 197, 197, 0.54);
}
.element-weather{
    height: 40px;
    width: 75px;
    display: inline-block;
}


.text-weather{
    font-size: 0.7em;
}

.text-weather-last{
    float: right;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
.img-affilate{
    height: 272.5px;
    width: 100%;
}

.ex-right{
    height: 350px;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.nav-link{
    font-size: 0.75em;
}
.ex-right-inside{
    margin: 10px 15px 10px 15px;
    }
.ex-right-inside-top{
    height: 40px;
    padding-top: 12px;
}
.img-sexy-girl{
    height: 180px;
    padding: 0px 10px 0px 10px !important;
}

.img-sexy-girl-inside{
    width: 100%;
    height: 100%;
}

.text-img{
    color: #fff;
    z-index: 2;
    font-weight: 500;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 54%);
    font-size: 1em;
    padding-top: 80px;
    padding-left: 15px;
    font-weight: 500;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 54%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%);
}
.voucher-hhll-link{
    float: right;
}

.voucher-hhll-img{
    float: left;
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
#container nav ul li{
    list-style: none;
    float: left;
    padding: 10px 10px;
    display: block;
}
.ctn-right{
    padding-right: 0%;
}

.box-logo{
    height: 145px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.img-logo{
    width: 40%;
    height: auto;
    margin: 10px 10px 10px 10px;
}
.footer-right{
    background-color: white;
    height: 180px;
    width: 100%;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;

}

.footer-right-inside{
    margin: 10px 10px 10px 0px ;
    background-color: white;
    height: 100%;
    width: auto;
}

.element-footer1{
    height: 35px;
    display: inline-block;
    font-size: 1em;
    padding: 15px;
    width:max-content;
    
}


.footer-right-inside a{
    text-decoration: none;
    margin-left: 8px;
        color: rgba(0, 0, 0, 0.54);

}

.footer-right-inside p{
    text-align: center;
    margin-top: 10px;
}

.middle-site-inside-top{
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;

}

.middle-site-inside-top-blue{
    height: 40px;
    background-color: #24a8d8;
    border-radius: 10px 10px 0px 0px;

}

.create-news{
    height:35px;
    width: 130px;
    background-color: #fff;
    display:inline-block;
    font-size :0;
    margin: 5px 0px 0px 5px;
    border-radius: 5px 5px 0px 0px;

}

.create-news-inside{
    font-weight: 700;
    height:35px;
    width: 130px;
    border: unset;
    font-size: 0.875rem;
    border-radius: 5px 5px 0px 0px;
    background-color: white ;

}
.tablinks:hover{
    background-color: rgb(211, 208, 208);
}
.share-ex{
    height:35px;
    width: 170px;
    background-color: #fff;
    display:inline-block;
    font-size :0;
    margin: 5px 0px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.share-ex-inside{
    font-weight: 700;
    height:35px;
    width: 170px;
    border: unset;
    font-size: 0.875rem;
    border-radius: 5px 5px 0px 0px;      background-color: white ;

}

.middle-site-inside-content{
    height: auto;
    background-color: white ;
    border-radius: 0px 0px 20px 20px;
}
.middle-site-inside-content-btn{
    border: none;
    outline:none;
    width: 100%;
    background-color: white;
}
.avt-user{
    height: 70px;
    width: 70px;  
    margin: 0px 0px 0px 20px; 
    display: inline-block;
 
}
.upload-box-news-body-inside-right-ele-user{
    margin: 0px !important;
}
.upload-box-news-body-inside-right-ele{
    display: inline-block;
}
.upload-box-news-body-inside-right-ele-user{
    display: block;
}
.upload-box-news-body-inside-right-ele-box-select{
    display: block;
}
div.avt-user i{
    font-size: 2.5em;   
    display: inline-block;
    width: 100%;
    height: 100%;
    
}

div.para{
    width: auto;
    height:100%;
    margin-top: 20px;
    padding: 0;
<<<<<<< HEAD
    display: inline-block;

=======
<<<<<<< HEAD
    display: inline-block;

=======
>>>>>>> 72a96e9e0bd57c48d0a88f2e583c50e02eff4d4f
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
}   

.action-user{
    height: 60px;

}

.action-user-inside{
    margin: 10px 10px 10px 10px;   
    height: 40px;
    width: 180px;
    border: none;
    outline:none;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 20px;
}
.active{
    background-color: #24a8d8;;
}



.upload-box{
    
    height: auto;
    width: 480px;
    background-color: white;
    display: none;
    margin: 50px 40% 0px 33%;
    border-radius:  10px 10px 10px 10px;
}

.index-view{
    display: flex;
    flex-direction: row;
    z-index: 0;
    position:absolute;
    height: 100%;
}

.upload-box-news{
    height: auto;
    width: 480px;
    background-color: white;
    display: none;
    border-radius:  10px 10px 10px 10px;
}


.upload-box-news-top{
    height:35px;
    width: auto;
}

.box-icon-x{
    border-radius: 25px;
    float: right;
    background-color: white;
    height: 30px;
    width: 30px ;
    text-align: center;
}

.upload-box-news-top-label{
    float: left;
    text-align: center;
    margin: 0px 0px 0px 40px;
}
.upload-box-news-top-label h2{
    font-size: 1.25em;
    font-weight: 600;
    padding-top: 10px;
}

.bi-x{
    font-size: 1.25em;
    margin-bottom: 5px;
    height: 24px;
    width: 24px;
}
.upload-box-news-body-inside{
    margin: 10px;
}

.upload-box-news-body-inside-left{
    display: inline-block;
    font-size:2.25em;
    margin-bottom: 10px;
}
.upload-box-ex-body-inside{
    margin: 0px 10px 10px 10px; 
    height: auto;
    overflow: auto;
}
.upload-box-ex-body-inside-left{
    display: inline-block;
    font-size:2.25em;
}
<<<<<<< HEAD
.upload-box-news-body-inside-ele-right{
=======
<<<<<<< HEAD
.upload-box-news-body-inside-ele-right{
=======
.upload-box-news-body-inside-right{
>>>>>>> 72a96e9e0bd57c48d0a88f2e583c50e02eff4d4f
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
    display: inline-block;
    margin-bottom: 10px;
}

.cb-mode-post{
    border-radius: 20px 20px 20px 20px;
    background-color: whitesmoke;
    border: none;
}

.upload-box-news-body-inside-caption{
    width: max-content;
<<<<<<< HEAD
    min-width: 100%;
    min-height: 20px;
=======
<<<<<<< HEAD
    min-width: 100%;
    min-height: 20px;
=======
    min-width: 400px;
>>>>>>> 72a96e9e0bd57c48d0a88f2e583c50e02eff4d4f
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
    word-wrap:break-word;
    height: auto;
}
.upload-box-news-body-inside-add-bg-emo {
    height: 30px;
    width: auto;
}

.caption-inside{
    border: none;
    outline:none;
    min-width: inherit;
    word-wrap:break-word;
}

.btn-bg{
    float: left;
    background-color: white;
    display: inline-block;
}
.btn-emotion{
    float: right;
    background-color: white;
    display: inline-block;

}
.box-add-info{
    border: none;
    outline:none;
    border-radius: 10px 10px 10px 10px;
    margin: 0px 5px 0px 5px;
}

.upload-box-news-body-inside-btn-share-inside{
    background-color: #24a8d8;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 40px;
    margin: 15px 0px 0px 0px;
    border: none;
}

.upload-box-news-body-inside-btn-share-inside span{
    color: white;
}

.upload-box-ex{
    height: 640px;
    width: 480px;
    background-color: white;
    display: none;
    margin-top: 5% !important;
    border-radius:  10px 10px 10px 10px;
}

.upload-box-ex-top{
    height: 30px;
}

.upload-box-ex-top-label{
    margin: 0px 0px 0px 150px;
    float: left;
}

.upload-box-ex-top-label h2{
    margin-top: 10px;
    font-size: 1.25em;
}

.upload-box-ex-top-box-icon-x{
    float: right;
}

.upload-box-ex-top-label{
    width: auto;
}
.upload-box-news-body-inside-img{
    position: relative;
}
.upload-box-news-body-inside-img-btn{
    border: none;

}

.upload-box-news-body-inside-img-btn img{
    max-height: inherit;
    max-width: 440px;
}
.upload-box-news-body-inside-img-icon{
    top: 8px;
    right: 20px;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    border: 0pt;
    background-color: gray;
}

.upload-box-ex-body-inside-topic-input{
    width: 100%;
    border: none;
}
.upload-box-ex-body-inside-content{
    height: auto;
}
.expandable-textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
  
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }
.upload-box-ex-body-inside-number{
    float: right;
    display: block;
    width: 100%;
}

.charNum1{
    float: left;
    color:#f44336;
}
.charNum2{
    float: left;
    color:#f44336;
    font-weight: 600;

}
.upload-box-ex-body-inside-number-inside{
    float: right;
}
.upload-box-ex-body-inside-emoji{
    float: right;
    height: 10px;
    width: 100%;
    text-align: right;
}
.upload-box-ex-body-inside-add-info{
    width: 100%;
}
.upload-box-news-body-inside-include{
    overflow: auto !important;
    overflow-x:hidden !important;
    height: 400px;
}

textarea {
    border: hidden;
    resize: none;
    overflow-y: hidden;
    width: 100%;
    height: 30px;
  }

.upload-box-news-body-inside-include-btn-share{
    width: 100%;      
    height: auto;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    border: none;
    background-color:#24a8d8; ;
}

.tabcontent{
    display: none ;
}

.upload-box{
    z-index: 1;
    display: block;
    position:absolute;
}

.my-light{
    filter: brightness(50%);
    cursor: none;
}

.upload-box-news-body-inside-btn-share-inside{
    background-color: #24a8d8;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 40px;
    margin: 15px 0px 0px 0px;
    border: none;
}
.box-icon-x-btn{
    border: none;
    outline:none;
    width: inherit;
    background-color: white;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
.upload-box-news-body-inside-right-user h4{

}
#targetLayer{
    width: 100%;
    height:auto;
    max-height: 300px;
    text-align:center;
    line-height:150px;
    font-weight: bold;
    color: #C0C0C0;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    width: 15px;
    cursor: pointer;
    width: 26px;
    height: 28px;
    text-align: center;
}

.upload-preview{
    width: inherit;
}
.upload-box-news-body-inside-box{
    overflow: hidden;
    height: auto;
}
.middle-site-inside-bg{
    background-color: whitesmoke;
}
.middle-site-inside-body{
    height: 1000px;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}
.middle-site-inside-body-three-dots{

    float: right;
    height: 30px;
    width: 30px;
    margin: 5px 5px 5px 5px;
    border: none;
    outline:none;
    border-radius: 20px 20px 20px 20px;
}
.middle-site-inside-body-three-dots:hover{
    
    background-color: rgba(0, 0, 0, 0.54); ;
}
.middle-site-inside-body-margin-para{
    height: auto;
    width: 100%;
}
.middle-site-inside-body-margin{
    margin: 10px 10px 10px 10px;
}
.middle-site-inside-body-margin-content{
    height: auto;
    width: 100%;
}

.middle-site-inside-body-margin-interative{
    background-color: white;
    height: auto;
    margin: 10px 5px 10px 5px;
}
.middle-site-inside-body-margin-interative-brief{
    width: 100%;
    height: 26px;
    display: block;
}
.middle-site-inside-body-margin-interative-brief-like{
    float: left;
    display: inline-block;

}
.middle-site-inside-body-margin-interative-brief-cmt{
    float: right;
    display: inline-block;

}
.middle-site-inside-body-margin-interative-action-btn{
    display: block;
}
.middle-site-inside-body-margin-interative hr{
    display: block;
}
.middle-site-inside-body-margin-interative-action-btn-inside{
    border: none;
    outline:none;
    width: 135px;
    margin: 0px 5px 0px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: inherit;
}
.middle-site-inside-body-margin-interative-action-btn-inside:hover{
    background-color: rgba(146, 142, 142, 0.54); ;
}
.middle-site-inside-body-margin-interative-view-cmt{
    height: auto;
    width: 100%;
}
.middle-site-inside-body-margin-interative-view-cmt-person{
    height: 35px;
<<<<<<< HEAD
}
=======
}
=======
<<<<<<< HEAD
=======

>>>>>>> aea8e9bf8947a16584949aba7c2b270947d19973
>>>>>>> 72a96e9e0bd57c48d0a88f2e583c50e02eff4d4f
>>>>>>> 9a9078e77d7f8099e1625b4df62138308145acd1
