.left-site{
    background-color: aqua;
    padding: 0px;
    }

.middle-site{
    background-color: pink;
    padding: 0px;

}

.right-site{
    background-color: gray;
    padding: 0px;
}

.row{
    background-color: whitesmoke;
    position: relative;
}

.left-site-inside{
    margin: 15px 0px 35px 65px;
    background-color: white ;
    padding: 0px;
    border: 0px;
}
.right-site-inside{
    margin: 15px 65px 35px 0px;
    background-color: white ;
}
.middle-site-inside{
    margin: 15px 20px 35px 20px;
    background-color: white ;

}

.img{
    height: 210px;
    width: 300px;
}

.img-inside{
    max-width:100%;
    max-height:100%;
}

.weather-inside{
    margin: 20px 15px 10px 15px;
}
